export REACT_APP_BACKEND_URL=''
export REACT_APP_SENTRY_ENV=''
export REACT_APP_SENTRY_DSN=''
export REACT_APP_ENV='LOCAL_DEV'
export ESLINT_NO_DEV_ERRORS=true

# Cypress test environment variables
export CYPRESS_BASEURL=''
export CYPRESS_COOKIE_NAME=''
export CYPRESS_COOKIE_VALUE=''
export CYPRESS_TEST_REPO_NAME=''

# Reset e2e-test-repo
export E2E_COMMIT_HASH=8f6ead40e885e327e414f14ca6288959f165d483
export PERSONAL_ACCESS_TOKEN=''
export USERNAME=''