@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./variable";

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: $base-background;
  margin: 0;
  padding: 0;
  color: $body-text;
  height: 100vh;
}

a {
  text-decoration: none;
  color: $isomer-blue;
  padding: 0;
  margin: 0;

  &:hover {
    text-decoration: none;
  }
}

button,
small,
body,
span,
a,
input,
select,
textarea,
p,
li {
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.fullscreenWrapper {
  @extend .wrapper;

  > .wrappedContent {
    height: calc(100vh - #{$header-height} - #{$footer-height});
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700 !important;
  margin: 0;
  padding: 0;
  letter-spacing: 0 !important;
}

i {
  color: $isomer-blue;
}

.disabledIcon {
  color: $isomer-grey;
}

.error {
  color: $error-red;
  font-size: 14px;
}

.info {
  color: $isomer-blue;
  font-size: 14px;
}

.noExtLink {
  &:after {
    display: none !important;
  }
}
