@import "./variable";

@mixin buttonColor($color) {
  background: $color;
  color: white;
  padding: 10px 30px;
  margin-right: 20px;
  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  &:hover {
    background: lighten($color, 5%);
    transform: translateY(-4px);
    box-shadow: 0px 4px darken($color, 10%);
  }

  &:active {
    background: $color;
    transform: translateY(0px);
    box-shadow: none;
  }
}

button {
  background: $default-background;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  flex-wrap: nowrap;
  padding: 0;

  &:focus {
    outline: 0;
  }

  i {
    font-size: 30px;
  }

  .bx {
    height: 100%;
    margin-top: 2px;
  }

  a {
    text-decoration: none;
    color: $isomer-blue;

    &:hover {
      text-decoration: none;
      color: $isomer-blue;
    }
  }

  &.warning {
    @include buttonColor($error-red);
  }

  &.blue {
    @include buttonColor($isomer-blue);
  }

  &.green {
    @include buttonColor($login-green);
  }

  &.disabled {
    background: $isomer-grey;
    color: darken($isomer-grey, 25%);
    padding: 10px 30px;
    margin-right: 20px;
    &:hover {
      background: $isomer-grey;
      transform: unset;
      box-shadow: unset;
    }
  }

  &:last-child {
    margin-right: 0px;
  }
}

.button-group-left,
.button-group-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
