@import "./variable";

.card {
  width: 100%;
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1.875rem;
  margin-bottom: 30px;

  .cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    h2 {
      font-size: 20px;
      font-weight: normal;
      line-height: 2;
      color: darken($isomer-blue, 20%);
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 1.875rem;
    }

    .bx {
      font-size: 30px;
      color: darken($isomer-blue, 20%);
    }

    button {
      padding: 1.875rem;
      margin: -1.875rem;
    }
  }

  &.error {
    border: 1px solid $error-red;
  }

  &.dragging {
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  }

  &.placeable {
    background: none;
    box-shadow: none;
    border: 1px dashed darken($base-background-light, 10%);
    opacity: 0.8;
  }

  &.addNew {
    background: none;
    box-shadow: none;

    border: 1px dashed $isomer-blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $isomer-blue;
    height: 100%;
    margin-bottom: 0px;

    .bxPlusCircle {
      font-size: 30px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 18px;
      width: 100%;
      text-align: center;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px dashed $isomer-blue;
    }
  }

  &.folderOption {
    background: none;
    box-shadow: none;
    height: 5.188rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-right: 1rem;
    margin-bottom: 0;
    border: 1px dashed $isomer-blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $isomer-blue;

    &:hover {
      @extend .folderOptionSelected;
    }

    &:hover > div > i {
      color: white;
    }

    > div > span {
      color: $isomer-blue;
    }

    &:hover > div > span {
      color: white;
    }

    .folderOptionIcon {
      font-size: 30px;
    }

    .folderOptionText {
      line-height: 2;
    }
  }

  &.folderOptionSelected {
    background: $isomer-blue;
    border: 1px solid $isomer-blue;
    color: white;

    > div > span {
      color: white;
    }
  }

  &.folderOptionDisabled {
    @extend .folderOption;
    border: 1px dashed $isomer-dark;
    color: $isomer-dark;

    &:hover {
      background: none;
      border: 1px dashed $isomer-dark;
      color: $isomer-dark;
    }

    &:hover > div > i {
      color: $isomer-dark;
    }

    &:hover > div > span {
      color: $isomer-dark;
    }

    > div > span {
      color: $isomer-dark;
    }
  }

  &.folderItem {
    background: white;
    box-shadow: inset;
    height: 5.188rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0.5rem 0 0.5rem 0;
    border: 1px $isomer-blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $body-text;

    .folderItemIcon {
      font-size: 30px;
      color: $body-text;
      margin-right: 1rem;
    }

    .folderItemText {
      line-height: 2;
    }
  }

  &.addNewHomepageSection {
    background: none;
    box-shadow: none;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: $isomer-blue;

    h2 {
      font-size: 18px;
      width: 100%;
      text-align: left;
    }
  }

  .cardContent {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.folderCard {
  @extend .card;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.orderCircleContainer {
  position: absolute;
  left: calc(100% - 40px);
  bottom: calc(100% - 40px);

  .orderCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 6px;

    background: $isomer-blue;
    color: white;
    text-align: center;
  }
}

.navCard {
  @extend .card;
  margin-bottom: 0rem;
}
