.dropdown {
  width: 20rem;
  background: white;
  box-shadow: 2px 2px 12px 0 rgba(43, 95, 206, 0.1);
  border-radius: 5px;
  z-index: 2;
  color: black;
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  .dropdownItem {
    width: 100%;
    height: 3.5rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
    display:flex;
    align-items: center;
    
    &:hover {
      background: rgba(43, 95, 206, 0.1);
    }
  }

  .dropdownItemWarning {
    @extend .dropdownItem;
    height: auto;
    cursor: default;
    white-space: normal;

    &:hover {
      background: white;
    }
  }

  hr {
    margin: 0;
  }

  i {
    margin-right: 0.5rem;
    vertical-align: middle;
    line-height:inherit;
  }

  button {
    padding: 0.5rem;
    margin-left: 0.5rem;
  }
}