.dropdown {
  position: absolute;
  width: 14rem;
  overflow: hidden;
  background: white;
  box-shadow: 2px 2px 12px 0 rgba(43, 95, 206, 0.1);
  border-radius: 5px;
  z-index: 2;
  color: black;
  white-space: nowrap;
  right: 0rem;

  &:focus {
    outline: none;
  }

  .dropdownItem {
    width: 100%;
    height: 3rem;
    padding: 0.75rem 0.25rem 0.75rem 1.5rem;
    display: flex;
    align-items: center;

    .dropdownText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }

    &:hover {
      background: rgba(43, 95, 206, 0.1);
    }
  }

  hr {
    margin: 0;
  }

  i {
    margin-right: 0.5rem;
    vertical-align: middle;
    line-height: inherit;
  }
}

.moveModal {
  height: 11.25rem;
  border: 0.5px solid rgba(43, 95, 206, 0.3);
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow-y: scroll;

  .dropdownIcon {
    padding-right: 1.5rem;
  }

  .dropdownItem {
    height: 2.5rem;
    padding: 0.3rem 0.25rem 0.3rem 1.5rem;
    display: flex;
    align-items: center;

    &:hover {
      background: rgba(43, 95, 206, 0.1);
    }
  }

  .dropdownTextButton {
    width: -webkit-fill-available;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 16px;
  }

  .dropdownItemFocus {
    @extend .dropdownItem;
    background: rgba(43, 95, 206, 0.2);
  }

  .dropdownItemDisabled {
    @extend .dropdownItem;
    color: $isomer-grey;

    &:hover {
      background: white;
    }
  }

  .dropdownItemButton {
    text-align: right;
    background-color: unset;
    font: unset;
    border-radius: 5px;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    color: $isomer-blue;

    &:hover {
      background: rgba(43, 95, 206, 0.2);
    }
  }
}
