.dropdown {
  position: absolute;
  width: 14rem;
  overflow: hidden;
  background: white;
  box-shadow: 2px 2px 12px 0 rgba(43, 95, 206, 0.1);
  border-radius: 5px;
  z-index: 2;
  color: black;
  white-space: nowrap;
  right: 0rem;

  &:focus {
    outline: none;
  }

  .dropdownItem {
    width: 100%;
    height: 3rem;
    padding: 0.75rem 0.25rem 0.75rem 1.5rem;
    display:flex;
    align-items: center;

    .dropdownText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display:block;
    }
    
    &:hover {
      background: rgba(43, 95, 206, 0.1);
    }
  }

  hr {
    margin: 0;
  }

  i {
    margin-right: 0.5rem;
    vertical-align: middle;
    line-height:inherit;
  }
}

.fileMoveDropdown {
  @extend .dropdown;
  width: 20rem;
  height: 17.25rem;
  overflow: hidden;

  .dropdownHeader {
    @extend .dropdownItem;
    top: 0;
    position: sticky;
    background: $isomer-blue;

    &:hover {
      background: $isomer-blue;
    }

    .dropdownText {
      color: white;
    }
  }

  .dropdownFirstItem {
    @extend .dropdownItem;
    top: 3rem;
    position: sticky;
    background: white;
    border-bottom: 0.5px solid rgba(43, 95, 206, 0.3);

    &:hover {
      background: white;
    }
  }

  .dropdownContentItems {
    height: 7.75rem;
    overflow-y: scroll;
    text-align: center;
  }

  .dropdownItemButton {
    display: none;
  }

  .dropdownItem:hover .dropdownItemButton {
    display: block;
  }

  .dropdownLastItem {
    @extend .dropdownItem;
    border-top: 0.5px solid rgba(43, 95, 206, 0.3);
    bottom: 0;
    height: 3.5rem;
    position: sticky;
    background: white;
    z-index: 3;

    &:hover {
      background: white;
    }
  }
}