@import "./variable";
@import "./buttons";

.inputGroup {
  margin-bottom: 20px;
}

p {
  &.permalink {
    padding-top: 0px;
    padding-left: 10px;
    margin-bottom: 0px;
    line-height: 31px;
    margin-right: 20px;
  }
}

.formLabel {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}

.formDescription {
  font-size: 14px;
  padding-right: 5px;
}

.formSectionHeader {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 20px;
  line-height: 14px;
  padding-top: 20px;
}

.formHorizontal {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;

  .formHorizontalInput {
    max-width: 80%;
  }
}

.formToggle {
  @extend .formHorizontal;
  padding-bottom: 20px;

  .formToggleLabel {
    @extend .formLabel;
    width: 25%;
    margin: 1px;
  }

  .formToggleInput {
    width: 75%;
  }
}

.formColor {
  display: flex;
  width: 50%;
  margin-bottom: 5px;
  margin-top: 5px;

  .formColorLabel {
    @extend .formLabel;
    width: 40%;
    margin: 1px;
  }
}

input,
textarea {
  border-radius: 3px;
  font-size: 14px;
  color: $body-text;
  width: 100%;
  border: 1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box;

  &.permalinkSetter {
    margin-left: 2px;
    margin-right: 2px;
    width: 50%;
    line-height: 21px;
  }

  &:focus {
    border: 1px solid $isomer-blue;
    outline: none;
  }

  &.error {
    color: $body-text;
    border: 1px solid $error-red;
    outline: none;
  }
}

input[type="radio"] {
  width: auto;
  margin-right: 8px;
}

.formToggleThumbIcon {
  align-self: center;
}

.formToggleThumbIconEnabled {
  @extend .formToggleThumbIcon;
  color: $success;
}

.formToggleThumbIconDisabled {
  @extend .formToggleThumbIcon;
  color: $body-grey;
}
