@import './variable';

.inputGroup{
    margin-bottom: 20px;
}

.formLabel{
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 14px;
  padding-top: 20px;
}

.formHorizontal{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10% 90%; 
  grid-column-gap: 17.5%;
}

.formColor{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 25% 55% 20%;
  margin: 2.5px;
}

.formColorBox{
  float: left;
  width: 50px;
  border: 0.5px solid black;
}

input,textarea{
  border-radius: 3px;
  font-size: 14px;
  color: $body-text;
  width: 100%;
  font-family: 'Lato', sans-serif;
  border:1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box;

  &:focus{
    border: 1px solid $isomer-blue;
    outline:none;
  }

  &.error{
    color: $body-text;
    border: 1px solid $error-red;
    outline:none;
  }
}
