@import './variable';
@import './buttons';

.inputGroup{
    margin-bottom: 20px;
}

.formLabel{
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 14px;
  padding-top: 20px;
}

.formHorizontal{
  display: flex;

  .formHorizontalLabel{
    @extend .formLabel;
    width: 25%;
    margin: 1px;
  }

  .formHorizontalInput{
    width: 75%;
  }
}

.formColor{
  display: flex;
  width: 50%;

  .formColorLabel{
    @extend .formLabel;
    width: 40%;
    margin: 1px;
  }

  .formColorInput{
    width: 40%;
  }

  .formColorBox{
    float: left;
    width: 50px;
    border: 0.5px solid black;
    width: 20%;
  }
}

.formSave{
  position: relative;
  width: 50%;

  .formSaveButton{
    @extend .blue;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: 20px;
  }
}

input,textarea{
  border-radius: 3px;
  font-size: 14px;
  color: $body-text;
  width: 100%;
  font-family: 'Lato', sans-serif;
  border:1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box;

  &:focus{
    border: 1px solid $isomer-blue;
    outline:none;
  }

  &.error{
    color: $body-text;
    border: 1px solid $error-red;
    outline:none;
  }
}
