@import "./variable";

.header {
  position: relative;
  height: $header-height;
  background: $header-background;
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}
