.loginDiv {
  height: 100vh;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.loginImage {
  margin-bottom: 20px;
}

.loginButton {
  margin: auto !important;
}

.otpDiv {
  margin: 32px 0px;

  .controls {
    display: flex;
    flex-direction: row;
    margin: 16px 0px;

    input {
      flex: 1;
      padding-right: 26px;
    }

    button {
      margin-left: -16px;
    }
  }

  .verified {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;

    .spinner {
      margin-right: 32px;
    }

    p {
      margin-bottom: 4px;
    }

    .redirectMsg {
      color: grey;
    }
  }
}
