@import './variable';

.overlay{
  visibility: visible;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
.modal{
  width: 50%;
  height: 50%;
  background: white;
  padding: 30px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .modalHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1{
      font-size: 24px;
    }

    .bx{
      font-size: 30px;
    }
  }

  // .modalContent {
  //  TO-DO
  // }

  // .modalFooter {
  //  TO-DO
  // }
}
