.toastContainer {
  height: auto;
  width: auto;
}

.toast {
  width: 33rem;
  height: 3.5rem;
  color: white;
  border: 1px solid;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(45, 45, 45, 0.5);
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  top: 1em;
  i {
    color: white;
  }
}

.toastInfo {
  @extend .toast;
  background: $toast-info;
  border: 1px solid #224BA3;
}

.toastSuccess {
  @extend .toast;
  background: $toast-success;
  border: 1px solid #007653;
}

.toastError {
  @extend .toast;
  background: $toast-error;
  border: 1px solid #A01207;
}

.toastWarning {
  @extend .toast;
  background: $toast-warning;
  color: $toast-warning-text;
  border: 1px solid #D6B02C;
  i {
    color: $toast-warning-text;
  }
}

.toastLong {
  width: 67.5rem;
}

.toastContent {
  display: flex;
  align-items: center;
  i {
    padding-right: 1rem;
  }
}