$isomer-blue: #2B5FCE;
$isomer-purple: #B99BF9;
$isomer-grey: #D0D4DB;
$dark-greyish-blue: #1B2E56;
$body-text: #333;
$body-grey: #878787;

$base-background: #E5E9F1;
$base-background-light: #F2F4F8;
$header-background: #fff;
$title-color: $dark-greyish-blue;

$sidebar-width: 240px;
$header-height: 80px;
$footer-height: 80px;

$homepage-editor-sidebar-width : 450px;
$page-editor-sidebar-width : 40vw;

$site-width: 320px;
$site-height: 220px;
$site-margin-horizontal: 20px;
$site-margin-vertical: 15px;
$sites-container-width: ($site-width*3) + ($site-margin-horizontal*6);

$resource-card-height: 200px;
$resource-card-margin: 2.5%;
$resource-card-width: (100% - ($resource-card-margin*2) )/3 ;