.edit {
  white-space: pre-wrap;
  border: 1px solid grey;
  margin: 20px;
  padding: 10px;
}

.card {
  padding-top: 40px;
}

.leftPane {
  width: 40%;
} 

.rightPane {
  transform: scale(0.8);
  transform-origin: top left;
  width: 60%;
}