body {
  margin: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  p {
    margin-bottom: 5px;
  }
}

* {
  font-family: "Inter" sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bp-section-pagetitle {
  padding: 0;
}
