body {
  margin: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  p {
    margin-bottom: 5px;
  }
}

* {
  font-family: "Inter" sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bp-section-pagetitle {
  padding: 0;
}

.left-pane {
  width: 40%;
}

.right-pane {
  width: 60%;
  transform: scale(0.65);
  transform-origin: top left;
}
