@import '../elements/variable';

.mainSection{
  display: flex;
  width: calc(100vw - #{$sidebar-width});
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  left: $sidebar-width;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  overflow-y: scroll;
}

.sectionHeader{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  margin-top: 10px;

  .sectionTitle{
    font-size: 28px;
    color: $isomer-blue;
    text-align: left;
  }

  button{
    float: right;
  }
}

.contentContainerBars{
  width: 100%;
  ul{
    width: 100%;
    box-sizing: border-box;
    list-style-position: outside;
    padding: 0;
    list-style-type: none;
    li{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: space-between;

      background: white;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease-in;
      width: 100%;
      height: 80px;

      box-sizing: border-box;
      border: none;
      border-radius: 3px;

      margin-bottom: 20px;
      padding: 30px;

      .bx{
        font-size: 20px;
      }

      &:hover{
        transform: translateY(-5px);
      }

      a{
        width: 100%;
        color: $body-text;
        line-height: 20px;
      }
    }
  }
}

.contentContainerCards{
  //this is used in the setting page
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  margin-bottom: 50px;

  .cardContainer{
    // flex: 1 0 calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    width: 45%;
    
    .card{
      box-sizing: border-box;
      height: 200px;
    }
  }
}

.contentContainerBoxes{
  //this is used in the resources page
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;

  .boxesContainer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card{
      width: $resource-card-width;
      box-sizing: border-box;
      height: $resource-card-height;
      margin-right: $resource-card-margin;
      margin-bottom: $resource-card-margin;
      min-width: 250px;
    }
  }
}

.card{
  &.resource{
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      min-width: 250px;

      .resourceInfo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        .resourceCategory{
          text-transform: uppercase;
          color: grey;
          font-size: 12px;
          letter-spacing: .5px;
        }

        .resourceTitle{
          font-size: 16px;
          line-height: 24px;
          padding-top: 16px;
          padding-bottom: 8px;
          height: 115px;
          max-height: 115px;
          overflow-y: scroll;
        }

        .resourceDate{
          color: grey;
          font-size: 12px;
          line-height: 20px;
        }

        .resourceType{
          color: grey;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 20px;
        }

        .resourceUpdated{
          color: grey;
          font-size: 12px;
        }
      }

      .resourceIcon{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;

        .bx{
          font-size: 20px;
        }
      }
    }

    &:hover{
      transform: translateY(-5px);
    }
}
