@import "../elements/variable";

@mixin cardFormat {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainSection {
  display: flex;
  width: calc(100vw - #{$sidebar-width});
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  left: $sidebar-width;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  overflow-y: scroll;
}

.sectionHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.5rem;
  margin-top: 1rem;

  .sectionTitle {
    font-size: 28px;
    color: $isomer-blue;
    text-align: left;
  }

  button {
    float: right;
  }
}

.segment {
  @extend .sectionHeader;
  margin-top: 0;
  justify-content: flex-start;
  margin-bottom: 2.5rem;

  span {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  strong {
    font-size: 16px;
  }
}

.contentContainerBars {
  width: 100%;
  ul {
    width: 100%;
    box-sizing: border-box;
    list-style-position: outside;
    padding: 0;
    list-style-type: none;
    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: space-between;

      background: white;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease-in;
      width: 100%;
      height: 80px;

      box-sizing: border-box;
      border: none;
      border-radius: 3px;

      margin-bottom: 20px;
      padding: 30px;

      .bx {
        font-size: 20px;
      }

      &:hover {
        transform: translateY(-5px);
      }

      a {
        width: 100%;
        color: $body-text;
        line-height: 20px;
      }
    }
  }
}

.contentContainerFolderRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.contentContainerFolderColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentContainerBoxes {
  //this is used in the PageCard page
  @include cardFormat;

  .boxesContainer {
    @include cardFormat;

    .card {
      width: $component-card-width;
      box-sizing: border-box;
      height: $component-card-height;
      margin-right: $component-card-margin;
      margin-bottom: $component-card-margin;
      min-width: 250px;
    }
  }
}

.folderContainerBoxes {
  //this is used in the FolderCard page
  @include cardFormat;

  .boxesContainer {
    @include cardFormat;

    .card {
      align-items: center;
      width: $component-folder-width;
      box-sizing: border-box;
      height: $component-folder-height;
      margin-right: $component-folder-margin;
      margin-bottom: $component-folder-margin;
      min-width: 250px;
      color: black;
      text-overflow: ellipsis;
      .componentIcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-end;

        .bx {
          font-size: 20px;
        }
      }
    }
  }
}

.card {
  &.component {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    min-width: 250px;

    .componentInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;

      .componentTitle {
        font-size: 16px;
        line-height: 24px;
        padding-top: 16px;
        padding-bottom: 8px;
        height: 115px;
        max-height: 115px;
        overflow-y: scroll;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .componentTitleLink {
        @extend .componentTitle;
        color: $isomer-blue;
      }

      .componentFolderName {
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .componentDate {
        color: grey;
        font-size: 12px;
        line-height: 20px;
      }

      .componentType {
        color: grey;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
      }

      .componentUpdated {
        color: grey;
        font-size: 12px;
      }
    }

    .componentIcon {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: flex-end;

      .bx {
        font-size: 20px;
      }
    }

    .optionsIcon {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: flex-end;
      line-height: 2rem;

      &:hover {
        background: rgba(43, 95, 206, 0.1);
      }
    }

    // hack because we can't use inbuilt &:focus (focus used for dropdown onBlur)
    .optionsIconFocus {
      @extend .optionsIcon;
      background: rgba(43, 95, 206, 0.3);
    }

    .folderInfo {
      @extend .componentInfo;
      flex-direction: row;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      i {
        vertical-align: middle;
        line-height: inherit;
      }
    }
  }
}

.cardDisabled {
  @extend .card;

  cursor: default;
  .componentTitle {
    color: #000000;
  }
}

.segmentDividerContainer {
  width: 100%;
}

.sectionFooter {
  height: $footer-height;
  background: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
