@use "sass:meta";

@import "../elements/variable";

.preview-styles {
  @include meta.load-css("../../preview-panel.scss");
}

.previewTextStyles {
  h1 {
    font-size: 3.375rem;
    line-height: 4.5rem;
    font-weight: 400;
    letter-spacing: -0.022em;
  }

  h2 {
    font-size: 2.75rem;
    line-height: 4rem;
    font-weight: 400;
    letter-spacing: -0.022em;
  }

  h3 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    letter-spacing: -0.022em;
  }

  h4 {
    font-size: 1.625rem;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  h5 {
    font-size: 1.375rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: -0.018em;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.011em;
  }
}

.homepageEditorSidebar {
  width: $homepage-editor-sidebar-width;
  background: $base-background-light;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 30px;
  padding-bottom: 100px;
  height: calc(100vh - #{$header-height} - #{$footer-height});
}

.homepageEditorMain {
  @extend .preview-styles;

  * {
    font-family: "Lato";
  }
  width: calc(100vw - #{$homepage-editor-sidebar-width});
  height: calc(100vh - #{$header-height} - #{$footer-height});
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
}

.contactUsEditorMain {
  @extend .preview-styles;

  * {
    font-family: "Lato";
  }
  width: calc(100vw - #{$homepage-editor-sidebar-width});
  height: calc(100vh - #{$header-height} - #{$footer-height});
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
  background-color: white;
}

.pageEditorSidebar {
  width: $page-editor-sidebar-width;
  background: $base-background-light;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 30px;
  padding-bottom: 100px;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  position: relative;
}

.pageEditorSidebarLoading {
  opacity: 0.5;
  pointer-events: none;

  .sidebarLoadingIcon {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
  }

  .hideSidebarLoadingIcon {
    visibility: hidden;
  }
}

.pageEditorSidebarDisabled {
  width: 100%;
  top: 50%;
  pointer-events: none;
  text-align: center;
  position: absolute;
  z-index: 2;
  margin: -30px;
  margin-bottom: -100px;
}

.pageEditorMain {
  @extend .previewTextStyles;

  * {
    font-family: "Lato";
  }

  transform: scale(0.95);
  transform-origin: center;
  width: calc(100vw - #{$page-editor-sidebar-width});
  left: $page-editor-sidebar-width;
  box-sizing: border-box;
  overflow-y: auto;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  background-color: white;
}

.pageEditorFooter {
  height: $footer-height;
  background: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
