@import '../elements/variable';

.homepageEditorSidebar{
  width: $homepage-editor-sidebar-width;
  background: $base-background-light;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 30px;
  padding-bottom: 100px;
  height: calc(100vh - #{$header-height} - #{$footer-height});
}

.homepageEditorMain{
  width: calc(100vw - #{$homepage-editor-sidebar-width});
  height: calc(100vh - #{$header-height} - #{$footer-height});
  box-sizing: border-box;
  overflow-y: scroll;
}

.pageEditorSidebar{
  width: $page-editor-sidebar-width;
  background: $base-background-light;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 30px;
  padding-bottom: 100px;
  height: calc(100vh - #{$header-height} - #{$footer-height});
}

.pageEditorMain{
  transform: scale(0.95);
  transform-origin: center;
  width: calc(100vw - #{$page-editor-sidebar-width});
  left: $page-editor-sidebar-width;;
  box-sizing: border-box;
  padding-right: 50px;
  overflow-y: scroll;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  background-color: white;
}

.pageEditorFooter{
  height: $footer-height;
  background: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}