@import '../generic/variable';





.homepage-editor-sidebar{
  width: $homepage-editor-sidebar-width;
  background: $base-background-light;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 30px;
  padding-bottom: 100px;
  height: calc(100vh - #{$header-height} - #{$footer-height});

}

.homepage-editor-main{
  display: flex;
  width: calc(100vw - #{$homepage-editor-sidebar-width});
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  left: $homepage-editor-sidebar-width;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  overflow-y: scroll;
}


.page-editor-sidebar{
  width: $page-editor-sidebar-width;
  background: $base-background-light;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 30px;
  padding-bottom: 100px;
  height: calc(100vh - #{$header-height} - #{$footer-height});
}

.page-editor-main{
  display: flex;
  width: calc(100vw - #{$page-editor-sidebar-width});
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  left: $page-editor-sidebar-width;;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  overflow-y: scroll;
}
