@import '../elements/variable';

@mixin single-site {
  margin-right: $site-margin-horizontal;
  margin-top: $site-margin-vertical;
  margin-bottom: $site-margin-vertical;
  height: $site-height;
  width: $site-width;
  border-radius: 5px;
}

@mixin checkered-background-grid {
  background-image: url('../../img/transparent_bg.jpg');
  background-size: 20px 20px;
  background-repeat: repeat;
}

.mediaCardDimensions {
  @include single-site;
  width: $component-folder-width;
  margin-right: $component-folder-margin;
  margin-bottom: $component-folder-margin;
}

.mediaModal {
  width: 65%;
  max-width: 75rem;
  height: 70%;
  background: white;
  padding: 1.5rem 2rem 1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  position: relative;
}

.mediaCards{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding-bottom: 50px;
  width: 100%;

    &:after {
      content: '';
      flex: auto;
    }

    .selectedMediaCard{
      outline: 2px solid $isomer-blue;
      @extend .mediaCard;
    }

    .mediaCard{
      @include single-site;
      background: white;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      border: none;
      box-sizing: border-box;
      transition: transform 0.2s ease-in;
      min-width: 250px;
      width: $component-card-width;
      height: $component-card-height;
      margin-right: $component-card-margin;
      margin-bottom: $component-card-margin;

      .mediaCardPreviewContainer {
        height: 70%;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .mediaCardImagePreviewContainer {
        @extend .mediaCardPreviewContainer;
        @include checkered-background-grid;

        .mediaCardImage {
          max-height: 100%;
        }

      }

      .mediaCardFilePreviewContainer {
        @extend .mediaCardPreviewContainer;
        background: rgb(216, 216, 216);

        p {
          color: rgb(102, 102, 102);
          font-weight: bold;
          font-size: 30px;
          margin-top: 10%;
        }
      }

      .mediaCardDescription{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 15px;

        i {
          color: black;
          margin-right: 16px;
          font-size: x-large;
        }

        .mediaCardName{
          width: 100%;
          font-size: .9em;
          color: $body-text;
          margin-bottom: 5px;
          overflow:hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .mediaCardDate{
          width: 100%;
          font-weight: 300;
          color: $body-grey;
          font-size: .6em;
        }
      }

      &:hover{
        transform: translateY(-5px);
      }
    }
  }

.editMediaPreview {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editImagePreview {
  @extend .editMediaPreview;
  @include checkered-background-grid;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.editFilePreview {
  @extend .editMediaPreview;
  background-color: rgb(216, 216, 216);

  p {
    color: rgb(102, 102, 102);
    font-weight: bold;
    font-size: 40px;
  }
}