.link {
  text-decoration: none;
  font-size: 16px;
  // This is $isomer-blue, inlined here for clarity during migration
  color: #2b5fce;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;

  &:hover {
    text-decoration: none;
    color: #2b5fce;
  }
}
