name: ci

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  install:
    # NOTE: Netlify uses ubuntu 16.08 but Github Actions does not offer it by default.
    # Hence, we default to the latest version.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          cache: "yarn"
      - name: Setup yarn
        run: npm install -g yarn
      - name: Cache Node.js modules
        uses: actions/cache@v3
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      # Uninstall when you're done
      # - name: Clean up
      #   run: npm uninstall -g yarn

  lint:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          cache: "yarn"
      - name: Setup yarn
        run: npm install -g yarn
      - name: Load Node.js modules
        uses: actions/cache@v3
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - run: yarn run lint-fix
      - run: yarn run format-fix

  build:
    needs: lint
    runs-on: ubuntu-latest
    env:
      CI: false
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          cache: "yarn"
      - name: Setup yarn
        run: npm install -g yarn
      - name: Load Node.js modules
        uses: actions/cache@v3
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - run: yarn run build

  test:
    needs: build
    runs-on: ubuntu-latest
    environment: staging
    env:
      CYPRESS_RECORD_KEY: ${{secrets.CYPRESS_RECORD_KEY}}
      CYPRESS_BASEURL: ${{secrets.CYPRESS_BASEURL}}
      CYPRESS_COOKIE_NAME: ${{secrets.CYPRESS_COOKIE_NAME}}
      CYPRESS_COOKIE_VALUE: ${{secrets.CYPRESS_COOKIE_VALUE}}
      CYPRESS_TEST_REPO_NAME: ${{secrets.CYPRESS_TEST_REPO_NAME}}
      USERNAME: ${{secrets.USERNAME}}
      PERSONAL_ACCESS_TOKEN: ${{secrets.PERSONAL_ACCESS_TOKEN}}
      E2E_COMMIT_HASH: ${{secrets.E2E_COMMIT_HASH}}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          cache: "yarn"
      - name: Setup yarn
        run: npm install -g yarn
      - name: Load Node.js modules
        uses: actions/cache@v3
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - run: yarn run test
